Source: polipo
Section: web
Priority: optional
Maintainer: Rolf Leggewie <foss@rolf.leggewie.biz>
Uploaders: Donovan Baarda <abo@minkirri.apana.org.au>
Build-Depends: debhelper (>= 9), texinfo
Standards-Version: 3.9.6
Homepage: http://www.pps.jussieu.fr/~jch/software/polipo/
Vcs-git: git://git.debian.org/git/collab-maint/polipo.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/polipo.git

Package: polipo
Architecture: any
Depends: lsb-base, ${shlibs:Depends}, ${misc:Depends}
Recommends: dnsmasq | pdnsd | unbound, python
Description: lightweight, caching web proxy
 Polipo is a caching web proxy (a web cache) designed to be used by one
 person or a small group of people. It is similar in spirit to WWWOFFLE, but
 the implementation techniques are more like the ones used by Squid.
 .
 Polipo has some features that are unique among currently available proxies:
 .
  o Polipo will use HTTP/1.1 pipelining if it believes that the remote
  server supports it, whether the incoming requests are pipelined or
  come in simultaneously on multiple connections (this is more than the
  simple usage of persistent connections, which is done by e.g. Squid);
 .
  o Polipo will cache the initial segment of an instance if the
  download has been interrupted, and, if necessary, complete it later
  using Range requests;
 .
  o Polipo will upgrade client requests to HTTP/1.1 even if they come
  in as HTTP/1.0, and up- or downgrade server replies to the client's
  capabilities (this may involve conversion to or from the HTTP/1.1
  chunked encoding);
 .
  o Polipo has fairly complete support for IPv6 (except for scoped
  (link-local) addresses).
 .
 Optionally, Polipo can use a technique known as Poor Man's Multiplexing
 to reduce latency.
